/* commons */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


img{
    width: 100%;
}


h6, p {
    margin-bottom: 0;
}

body{
    /* font-family: Helvetica, Arial, sans-serif; */
    background-color: #D8DBD6;
    margin: 2rem auto;
}

.row>*{
    padding:0;
}

/* main */


.container{
    height: 90vh;
}

.left_side{
    background-color:white;

}


.top_bar,
.bottom_bar {  
    height: 50px;
    width: 100%;
    background-color: #EAEAEA;
}


.left_side>.top_bar{
    border-right: 1px solid lightgray;

}


.left_side i,
.right_side i {
    padding: 0 5px;
}


.left_side .el_icons,
.right_side .el_icons{
    margin: 0 1rem;
    color:#B1B1B1;
}

.user_icon{
    height: 35px;
    width: 35px;
    margin: 0 0.5rem;
}

.user_icon>img{
    border-radius: 50%;
}


.notification .text_info {
    line-height: 1rem;
    padding: 15px;
}


.text_info>p{
    font-size: 14px;
    color:gray;
}

.notification.box{
    background-color:#8EDAFC;
    height: 90px;
}


.notification.box i {
    color: #8EDAFC;
}


.icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.notification .icon{
    background-color: white;
    
}


.search {
    height: 60px;
}

.search button{
    background-color: white;
    border: none;
    color: #EAEAEA;
}

.contacts .box{
    border-bottom: 1px solid #EAEAEA;
}



section.contacts{
    overflow: auto;
    height: calc(90vh - 200px);
}

.contacts.icon>img{
    border-radius: 50%;
}


.time{
    font-size:10px;
    color:gray;
}


.right_side .message_box{
    height: calc(90vh - 95px );
}


.message_box {
    background-image: url("../img/mine.jpg");
}

.bottom_bar i{
    color:#6D767A;
}

input {
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 3px;
    color:#EAEAEA
}


.message {
    margin-bottom: 2rem;
    padding: 0.875rem;
    border-radius: 10px;
    position:relative;

}
.user_message{
    background-color: #D5F9BA;
    
   
}

.friend_message{
    background-color: white;
    
}

.message_time{
    position:absolute;
    bottom:5px;
    right:10px;
    font-size: 10px;
    color:gray;
}